*.iml
.gradle/
.gradlew-user-home/
.idea/
.vscode/
/local.properties
.DS_Store
/build/
/captures/
.externalNativeBuild
.cxx
local.properties
/app/build/
/hidden-api/build/
build_log*.txt
autobuild.sh
.kotlin/
.codex/
tools/
autobuild_cli.sh
autobuild.bat